<strong>Olá, {{ student }}</strong>
<p>Seja bem vindo à Gympoint,</p>
<p>Sua matrícula foi realizada com sucesso, com data de início para <strong>{{ dateStart }}</strong></p>
<p>
  Segue informações da matrícula: <br />
  <strong>Plano: </strong> {{ plan }} <br />
  <strong>Duração: </strong> {{ duration }} <br />
  <strong>Data de término: </strong> {{ dateEnd }} <br />
  <strong>Preço: </strong> {{ price }} <br />
</p>
